body{
    margin: 0;
    overflow: auto;
    
  }
  header{
    background-color: rgb(109, 109, 231);
  }
  content{
    width: 70%;
    margin: auto;
  }
  footer{
    height: auto;
    width: 100%;
    background-color: rgb(97, 105, 214);
  }